[Desktop Entry]
Type=Application
Name=qVector
Comment=Matrix chat client
Exec=qvector
Icon=qvector
Terminal=false
Categories=Network;Chat;InstantMessaging;
StartupWMClass=qvector
